{% load static %}
<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Contact</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo-2.png' %}">
    <!-- Stylesheets & Fonts -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
        rel="stylesheet">
    <!-- Plugins Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/loader/loaders.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/swiper/swiper.css '%}">
    <link rel="stylesheet" href="{% static 'css/lightgallery.min.css '%}">
    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
</head>

<body>
    <!-- Loader Start -->
    <div class="css-loader">
        <div class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>
    </div>
    <!-- Loader End -->
    <!-- Header Start -->
    <header class="position-absolute w-100">
        <div class="container">
            <div class="top-header d-none d-sm-flex justify-content-between align-items-center">
                <div class="contact">
                    <a href="" class="tel"><i class="fa fa-phone" aria-hidden="true"></i>+718-280-5707</a>
                    <a href=""><i class="fa fa-envelope"
                            aria-hidden="true"></i>info@internationalconcrete.net</a>
                </div>
                <nav class="d-flex aic">
                    <a href="#" class="login"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
                    <ul class="nav social d-none d-md-flex">
                        <li><a href="https://www.facebook.com/International-Concrete-Inc-103279948096972/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/international_concrete/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </nav>
            </div>
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="#"><img src="{% static 'front/logo.png' %}" alt=""></a>
                <div class="group d-flex align-items-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <a class="login-icon d-sm-none" href="#"><i class="fa fa-user"></i></a>
                </div>
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'portfolio' %}">Portfolio</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </header>
    <!-- Header End -->
    <!-- Page Title -->
    <section class="featured">
        <div class="container">
            <div class="row">
                < class="col-md-6" data-aos="fade-right" data-aos-delay="400" data-aos-duration="800">
                <div class="title">
                    <h1 class="title-blue">Feel Free to e-mail us for questions.</h1>
                </div>
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit">Submit</button>
                </form>
                <div class="col-md-6" data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
                    <div class="feat-img">
                        <img class="featured-medium" src="{% static 'images/hat.png' %}" alt="">
                        <img class="featured-medium" src="{% static 'images/office.jpg' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Page Title End -->
    <!-- Footer Start -->
    <footer>
        <!-- Widgets Start -->
        <div class="footer-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="single-widget contact-widget" data-aos="fade-up" data-aos-delay="0">
                            <h6 class="widget-tiltle">&nbsp;</h6>
                            <div class="media">
                                <i class="fa fa-map-marker"></i>
                                <div class="media-body ml-3">
                                    <h6>Address</h6>
                                    178 Walworth st,<br>
                                    Brooklyn, NY 11205
                                </div>
                            </div>
                            <div class="media">
                                <i class="fa fa-envelope-o"></i>
                                <div class="media-body ml-3">
                                    <h6>Have any questions?</h6>
                                    <a href="mailto:rpinto@internationalconcrete.net">rpinto@internationalconcrete.net</a>
                                </div>
                            </div>
                            <div class="media">
                                <i class="fa fa-phone"></i>
                                <div class="media-body ml-3">
                                    <h6>Call us</h6>
                                    <a href="tel:(718) 280-5707"> (718) 280-5707</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Widgets End -->
        <!-- Foot Note Start -->
    </footer>
    <!-- Footer Endt -->
    <!--jQuery-->
    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <!--Plugins-->
    <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'js/loaders.css.js' %}"></script>
    <script src="{% static 'js/aos.js' %}"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/lightgallery-all.min.js' %}"></script>
    <!--Template Script-->
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>